.category-list-1 {

  @extend .nav;
  @extend .nav-pills;

}

.category-list-1 li {
  margin: 0 8px 8px 0;
}

.category-list-1 > li + li {
  margin-left: 0;
}

.category-list-1 > li > a {

  border: solid 1px;
  padding: 4px 6px;
  text-decoration: none;


}

.category-list-1--occupations > li > a {

  color: $color-orange-1;
  border-color: $color-orange-1;

  &:hover {
    background: $color-orange-1;
    color: #fff;
  }

}