$color-blue-1: #a1dee9;
$color-blue-2: #eff8fa; //lighten($color-blue-1, 25%);

$color-orange-1: #fbc34e;
$color-orange-2: #fff0d7;

$color-green-1: #dedd3a;
$color-green-2: #f5f6ce;

$color-purple-1: #d798bf;
$color-purple-2: #f4e6f0;

$color-black-1: #2d2d2d;

$color-gray-1: #bbbbbb;
$color-gray-2: #ededed;

.color-scheme-1 {

  background: $color-blue-1;
  color: $color-blue-2;

  a,
  h1,
  h2,
  h3 { //
    color: $color-blue-2;
  }

}

.color-scheme-2 {

  background: $color-orange-1;
  color: $color-orange-2;

  a,
  h1,
  h2,
  h3 {
    color: $color-orange-2;
  }

}

.color-scheme-3 {

  background: $color-purple-1;
  color: $color-purple-2;

  a,
  h1,
  h2,
  h3 {
    color: $color-purple-2;
  }

}

/*
.color-scheme-4 {

  background: $color-purple-1;
  color: $color-purple-2;

  a {
    color: $color-purple-2;
  }

}
*/