.form-block {
  @extend .form-group;
}

.form-block__label {
  @extend .control-label;

  &:first-letter {
    text-transform: uppercase;
  }
}

.form-block__control {
  @extend .form-control;
}

.form-block--error {
  @extend .has-error;
}

.form-block--required {
  label.form-block__label:after {
    content: "*";
    font-weight: lighter;
  }
}

.form-block__description {
  @extend .small;
}

ul.form-block__messages {
  @extend .list-unstyled;
}

.form-block__messages--error {
  @extend .text-danger;
}