.main-nav-wrapper {
  background: #000;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-nav {

}

.main-nav__items {

  padding: 0;
  margin: 0;
  list-style: none;
  @include clearfix();

  /* Three items */
  li:nth-child(1):nth-last-child(3),
  li:nth-child(3):nth-last-child(1) {
    width: 33%;
  }

  li:nth-child(2):nth-last-child(2) {
    width: 34%;
  }

  /* Four items */
  li:nth-child(1):nth-last-child(4),
  li:nth-child(2):nth-last-child(3),
  li:nth-child(3):nth-last-child(2),
  li:nth-child(4):nth-last-child(1) {
    width: 25%;
  }

  /* Five items */
  li:nth-child(1):nth-last-child(5),
  li:nth-child(2):nth-last-child(4),
  li:nth-child(3):nth-last-child(3),
  li:nth-child(4):nth-last-child(2),
  li:nth-child(5):nth-last-child(1) {
    width: 20%;
  }

}

.main-nav__item {
  display: block;
  float: left;
  text-align: center;

  &--workplaces {

    svg {
      .st0{fill:#C2C3C7;}
      .st1{fill:#FFFFFF;}
    }

    &.main-nav__item--active {

      a {
        color: $color-blue-1;
      }

    }

  }

  &--occupations {

    svg {
      .st0{fill:#FFFFFF;}
      .st1{fill:#C2C3C7;}
    }

    &.main-nav__item--active {

      a {
        color: $color-orange-1;
      }

    }

  }

  &--opportunities {

    svg {
      .st0{fill:#FFFFFF;}
      .st1{fill:#252C3C;}
      .st2{fill:#6FB6BF;}
      .st3{fill:#C2C3C7;}
    }

    &.main-nav__item--active {

      a {
        color: $color-purple-1;
      }

    }

  }

  &--my-account {

    svg {
      .st0{fill:#FFFFFF;}
    }

  }

  &--log-in {

    .st0{fill:none;}
    .st1{fill:#FFFFFF;}
    .st2{fill:#C2C3C7;}

  }

  &--log-out {

    .st0{fill:none;}
    .st1{fill:#FFFFFF;}
    .st2{fill:#C2C3C7;}

  }

}

.main-nav__item-link {

  color: #fff;
  display: block;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    text-decoration: underline;
  }

  svg {

    width: 60%;
    height: auto;
    fill: #fff;

    @media (min-width: $screen-sm-min) {
      width: auto;
      height: 40px;
    }

  }

  span {
    display: none;

    @media (min-width: $screen-sm-min) {
      display: block;
    }

  }

}