$shadow-down: 0px 2px 0px rgba(0, 0, 0, 0.1);
$shadow-up: 0px -2px 0px rgba(0, 0, 0, 0.1);

.mega-nav-item {

  padding-top: 40px;
  text-align: center;

  &--companies {

    .mega-nav-item__link {

      svg {
        fill: $color-blue-2;
      }

    }

    @extend .color-scheme-1;

    .mega-nav-item__sub-item-wrapper-1 {
      border-color: $color-blue-1;
    }

    .mega-nav-item__intro-headline {
      border-color: $color-blue-2;
    }

  }

}

.mega-nav-item__intro {
  text-align: center;
  min-height: 20vh;

  svg {
    display: block;
    width: 62px;
    height: auto;
    margin: 0 auto 10px auto;
  }

}

.mega-nav-item__intro-headline {
  font-size: 24px;
  padding: 0;
  margin: 0 0 4px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: solid 2px #fff;
  box-shadow: $shadow-down;
}

.mega-nav-item__link {

  background-size: 63px auto;
  @extend %semibold;
  background-repeat: no-repeat;
  background-position: center top;
  text-shadow: $shadow-down;
  display: inline-block;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  svg {
    filter: drop-shadow( $shadow-down );
  }

}

.mega-nav-item__arrow-down {

  svg {
    transform: rotate(180deg);
    filter: drop-shadow($shadow-up);
    width: 58px;
    height: auto;
  }

}

.mega-nav-item__sub-items {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #000;
  color: #494949;

  a {
    color: $text-color;
  }

}

.mega-nav-item__sub-item {
  height: 70px;
  margin: 0;
  padding: 12px 0;
  width: 100%;
  transition: all 0.4s ease-out;
  background: #fff;
}

.mega-nav-item__sub-item-wrapper-1 {
  @extend .container;
  border-left: solid 2px;
}

.mega-nav-item__sub-item-headline {
  display: block;
}

.mega-nav-item__sub-item-link {
  display: block;
}