$shadow-down: 0px 2px 0px rgba(0, 0, 0, 0.1);
$shadow-up: 0px -2px 0px rgba(0, 0, 0, 0.1);
$mega-nav-item-height: 258px;

.mega-nav-item {
  text-align: center;
}

.mega-nav-item--simple-intro {
  background: #fff;
  margin-bottom: 32px;
}

.mega-nav-item--simple-intro .mega-nav-item__simple-intro {
  text-align: left;
}

.mega-nav-item--simple-intro .mega-nav-item__intro-headline {
  @extend %myriad-pro-regular;
  color: $color-gray-1;
  border-bottom: none;
  box-shadow: none;
  font-size: 18px;
}

/** Companies **/
.mega-nav-item--companies {

  @extend .color-scheme-1;

  .mega-nav-item__intro-wrapper svg {
    fill: $color-blue-2;
  }

  .mega-nav-item__sub-item-text-wrapper {
    border-color: $color-blue-1;
  }

  .mega-nav-item__intro-headline {
    border-color: $color-blue-2;
  }

  .mega-nav-item__sub-item > div {

    &:hover {
      background: $color-blue-2;
    }

  }

  .mega-nav-item__sub-item-cta svg {
    fill: $color-blue-1;
  }

  .mega-nav-item__extra-sub-item {
    color: $color-blue-1;
  }

  svg {

    .st0{fill:#E1EFF6;}
    .st1{fill:#CFE6F0;}
    .st2{fill:#FFFFFF;}
    .st3{fill:#252C3C;}
    .st4{fill:#3B4350;}

  }

}

/** Occupations **/
.mega-nav-item--occupations {

  @extend .color-scheme-2;

  .mega-nav-item__intro-wrapper svg {
    fill: $color-orange-2;
  }

  .mega-nav-item__sub-item-text-wrapper {
    border-color: $color-orange-1;
  }

  .mega-nav-item__intro-headline {
    border-color: $color-orange-2;
  }

  .mega-nav-item__sub-item > div {

    &:hover {
      background: $color-orange-2;
    }

  }

  .mega-nav-item__sub-item-cta svg {
    fill: $color-orange-1;
  }

  .mega-nav-item__extra-sub-item {
    color: $color-orange-1;
  }

  svg {

    .st0{fill:#F6E1A9;}
    .st1{fill:#FFFFFF;}
    .st2{fill:#D8D9DA;}
    .st3{fill:#2B3A49;}
    .st4{fill:#252C3C;}
    .st5{fill:#ACAEB4;}
    .st6{fill:#F1D27F;}

  }

}

/** Opportunitites **/
.mega-nav-item--opportunities {

  @extend .color-scheme-3;

  .mega-nav-item__intro-wrapper svg {
    fill: $color-purple-2;
  }

  .mega-nav-item__sub-item-text-wrapper {
    border-color: $color-purple-1;
  }

  .mega-nav-item__intro-headline {
    border-color: $color-purple-2;
  }

  .mega-nav-item__sub-item > div {

    &:hover {
      background: $color-purple-2;
    }

  }

  .mega-nav-item__sub-item-cta svg {
    fill: $color-purple-1;
  }

  .mega-nav-item__extra-sub-item {
    color: $color-purple-1;
  }

  svg {

    .st0{fill:#E3CADD;}
    .st1{fill:#FFFFFF;}
    .st2{fill:#252C3C;}
    .st3{fill:#6FB6BF;}
    .st4{fill:#ACAEB4;}
    .st5{fill:#D799C0;}
    .st6{fill:#D5B1CE;}

  }

}

.mega-nav-item__intro {
  text-align: center;

  svg {
    filter: drop-shadow($shadow-down);
    display: block;
    width: 62px;
    height: auto;
    margin: 0 auto 10px auto;
  }

}

.mega-nav-item__intro-headline {
  @extend %myriad-pro-semibold;
  font-size: 24px;
  padding: 0;
  margin: 0 0 4px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: solid 2px #fff;
  box-shadow: $shadow-down;
}

.mega-nav-item__intro-text {
  padding-bottom: 18px;
}

.mega-nav-item__intro-wrapper {

  position: relative;
  background-size: 63px auto;
  @extend %myriad-pro-semibold;
  background-repeat: no-repeat;
  background-position: center top;
  text-shadow: $shadow-down;
  display: inline-block;
  padding: 20px 0;

  .js & {
    padding-top: 40px;
  }

  .js .start-page & {
    min-height: $mega-nav-item-height;
  }

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

}

.mega-nav-item__cta {

  .no-js & {
    display: none;
  }

}

.mega-nav-item__cta svg {
  filter: drop-shadow($shadow-down);
  width: 58px;
  height: auto;
  transition: transform 0.3s;

  .few-paperfold--open & {
    transform: rotate(-180deg);
    filter: drop-shadow($shadow-up);
  }

}

.mega-nav-item__sub-items-wrapper {
  background: #000;
}

.mega-nav-item__sub-items {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #494949;
}

.mega-nav-item__sub-items a {
  color: $text-color;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

}

.mega-nav-item__sub-item {
  margin: 0;
  padding: 0;
  width: 100%;
  transition: all 0.3s ease-out;
  background: #fff;

  .few-paperfold--open & {
    transition: none;
  }

}

.mega-nav-item__sub-item-link {
  display: block;
  padding: 12px 0;
}

.mega-nav-item__sub-item-wrapper-1 {

  @extend .container;
  position: relative;

}

.mega-nav-item__sub-item-wrapper-2 {

  @extend .row;

}

.mega-nav-item__sub-item-wrapper-3 {

  @include make-xs-column(12);

}

.mega-nav-item__sub-item-text-wrapper {
  padding: 0;
  margin: 0;
  line-height: 1.3em;
  display: block;

  @media (min-width: $screen-sm-min) {
    border-left: solid 2px;
    padding-left: 16px;
  }

}

.mega-nav-item__sub-item-text {

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  padding: 0;
  margin: 0;
  width: 85%;

  .js & {
    height: 2.6em;
  }

  @media (min-width: $screen-sm-min) {
    width: 90%;

    .js & {
      height: 1.3em;
    }

  }

}

.mega-nav-item__sub-item-headline {
  display: block;
  text-transform: uppercase;
}

.mega-nav-item__sub-item-cta {

  display: block;
  width: 30px;
  height: auto;
  position: absolute;
  top: 20px;
  right: 10px;

  @media (min-width: $screen-sm-min) {
    top: 7px;
  }

  svg {
    width: 100%;
    transform: rotate(-90deg);
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

.mega-nav-item__extra-sub-item {
  background: #fff;
  display: block;
  height: 70px;
  line-height: 70px;
  text-transform: uppercase;
  text-decoration: underline;

  a:hover {
    text-decoration: none;
  }

}