.site-footer {
  position:absolute;
  bottom:0;
  width:100%;
  height: $footer-height;
  background: $color-gray-2;
  padding-top: 22px;
  padding-bottom: 12px;
  margin-top: 34px;
}

.site-footer a {
  color: #000;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.site-footer-nav {

  margin: 0;
  padding: 0;
  list-style: none;

  li:nth-of-type(1),
  li:nth-of-type(2),
  li:nth-of-type(3) {
    width: 33.3333%;
    margin-bottom: 18px;
  }

  li:nth-child(4):nth-last-child(1){
    width: 100%;
  }

  li:nth-child(4):nth-last-child(2),
  li:nth-child(5):nth-last-child(1) {
    width: 50%;
  }

}

.site-footer-nav__items {
  padding-left: 0;
}

.site-footer-nav__item {
  display: block;
  float: left;
  text-align: center;
  padding: 8px;
}

.site-footer-nav__item-link {
  display: block;
  //padding: 12px;
}

.site-footer-nav__item--workplaces {
  background: $color-blue-1;
}

.site-footer-nav__item--opportunities {
  background: $color-orange-1;
}

.site-footer-nav__item--occupations {
  background: $color-purple-1;
}

.site-footer-nav__item--workplaces a,
.site-footer-nav__item--opportunities a,
.site-footer-nav__item--occupations a {
  color: #fff;
}