%myriad-pro-bold {
  font-family: "myriad-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
}

%myriad-pro-semibold {
  font-family: "myriad-pro", sans-serif;
  font-style: normal;
  font-weight: 500;
}

h1,
h2,
h3 {
  @extend %myriad-pro-bold;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}