h1,
h2,
h3 {
  font-family: "myriad-pro", sans-serif;
  font-style: normal;
  font-weight: 500;
}

h2 {
  font-size: 26px;
}

%semibold {
  font-family: "myriad-pro", sans-serif;
  font-style: normal;
  font-weight: 500;
}